/*********************************************
Just padding and margin to 0
and then centring the canvas (and anything else)
using the CSS Grid.
Also hides overflow.
**********************************************/


@font-face {
  font-family: 'VT323';
  font-weight: 24;
  src: url('../assets/fonts/vt323-v17-latin-regular.woff2') format('woff2');
}

html {
  cursor: url('/assets/images/greencursor.png'), default;
}

body {
  font-family: 'VT323';
  font-size: 24px;
  color: #00cc00;
  background-color: black;
  font-style: normal;
  text-shadow: -20px 1px 20px #00cc00, 20px -1px 20px #00cc00, -20px -10px 30px #00cc00, 20px 20px 30px #00cc00;
  padding: 100;
  margin: 100;
  display: grid;
  /* Set up the grid and justify/align to left */
  justify-content: center;
  align-content: center;
  height: 100vh;
  /* Body is the height of the viewport */
  overflow: hidden;
  /* Hide anything that goes off the window size */
}


li {
  list-style-type: none;
  justify-content: top;
  align-content: top;
}

#main_text {

  padding: 100;
  margin: 100;

}

.links {
  padding: 100;
  margin: 100;
  font-size: 26px;
}



.answer {

  font-family: 'VT323';
  font-size: 24px;
  color: #00cc00;
  background-color: black;
  font-style: normal;
  text-shadow: -3px 1px 10px #00cc00, 3px -1px 10px #00cc00, -3px -1px 10px #00cc00, 3px 1px 10px #00cc00;

}

.submit {
  width: 20%;
  background-color: black;
  color: #00cc00;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'VT323';
  font-size: 26px;
  color: #00cc00;
  background-color: black;
  font-style: normal;
  text-shadow: -20px 1px 20px #00cc00, 20px -1px 20px #00cc00, -20px -10px 30px #00cc00, 20px 20px 30px #00cc00;

}

.box {
  width: 650px;
  padding: 10px 20px;
  margin: 1px 0;
  background-color: black;
  color: #00cc00;
  display: block;
  border: 1px solid #00cc00;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'VT323';
  font-size: 24px;
  color: #00cc00;
  background-color: black;
  font-style: normal;
  box-shadow: -3px 1px 10px #00cc00, 3px -1px 10px #00cc00, -3px -1px 10px #00cc00, 3px 1px 10px #00cc00;
}